<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        
/* footer style */
.f-info{
    text-align: center;
    background-color: #212529;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.f-info a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.f-info a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-links{
    width: 100%;
}
.f-info-links{
    width: 100%;
    margin-top: -0.8rem;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
    </style>
</head>
<body>
    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div>&copy; KBTCAFE </div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>    
</body>
</html>
