<header>
    <nav class="navbar section-content">
       
        <a href="#" class="nav-logo">
            <img src="/images/mvp-removebg-preview.png" alt="mvp image" class="mvp-logo">
            <h2 class="logo-text">KBT CAFE</h2>
        </a>
        <ul class="nav-menu">
            <button id="menu-close-button" ></button>
            <li class="nav-item">
                <a href="http://localhost:3000/kbt" class="nav-link  hover-underline">Home</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/kbt/about" class="nav-link hover-underline">About</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/kbt/menu" class="nav-link hover-underline">Menu</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/kbt/contact" class="nav-link hover-underline">Book Table</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/kbt/reserv_all" class="nav-link hover-underline">View Reservation</a>
            </li>
            <div class="icon-cart">
              <form action="/kbt/itm-qty" method="get">
                <button class="no">
                  <svg aria-hidden="true" style="color:#f4ebd0;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                    </svg>
                    <!-- <span class="noofitems" > <p>0</p></span> -->
                    <span class="noofitems"><p><%= typeof cartCount !== 'undefined' ? cartCount : 0 %></p></span>

                </button>
               
              </form>
          </div>
        </ul>
       
        <button id="menu-open-button" ></button>
    </nav>
</header>

<script>
    let add_to_cart = document.querySelectorAll(".custom-card-btn");
    for(let btn of btns){
        btn.addEventListener('click', ()=>{
            console.log("Button was click!");
        });
    }
</script>