<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/kbtcafe.css">
</head>
<body>
    <%- include("includes/navbar") %>
     <!-- About section -->
    <section class="section about text-center"  id="about">
        <div class="container">


        <div class="about-content">
            <img src="/images/shape-3.png" alt="shape-3" class="shape-3 img-cover">

            <p class="label-2 section-subtitle" id="about-label">Our Story</p>

            <h2 class="headline-1 section-title">Every Flavor Tells a Story</h2>

            <p class="section-text">
            At KBT Cafe, every dish tells a story of passion, flavors, and unforgettable moments. From the aroma of freshly brewed coffee to the taste of handcrafted delights, we bring people together for experiences that linger beyond the last sip. Join us, where every bite is a journey and every visit feels like home."
            </p>

            <div class="contact-label">Book Through Call</div>

            <a href="tel:+804001234567" class="body-1 contact-number hover-underline ">+88-123-123456</a>


        </div>

        <div class="about-banner">

            <!-- <img src="restaurant/images/kbt-3.jpg" width="630" height="630"  alt="about banner"
            class="w-100"> -->
            <video width="680" height="630"  autoplay loop muted  >
                <source src="/images/kbtv.mp4" type="video/mp4">
            </video>
            
        </div>

        </div>
    </section>
    <script src="/js/kbtcafe.js"></script>

</body>
</html>