<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/bill.css">
</head>
<body>
    <main >
        <section class="sec-1"></section>

        <section class="sec-2" >
            <h1 class="headline-2">KBT CAFE</h1>
            <hr>
            <br>
            <div class="custom-info">
                <h3>Name : <p></p></h3>
                <h3>Date : <p></p></h3>
                <h3>Time : <p></p></h3>
                <h3>Bill No : <p></p></h3>
            </div>
            <br><br>
        <hr>
            <div class="name">
                <h3>Item</h3>
                <h3>Quantity</h3>
                <h3>Price</h3>
                <h3>Total</h3>
            </div>
           <hr>
            <div class="item-data">
                <div class="item">
                    <p> hellp world</p>
                </div>
                <div class="qty">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, beatae ipsa! Quidem, quia dolorum quod error sed eius magni, reprehenderit dolorem laborum, itaque ratione corrupti illo eos harum ad impedit?</div>
                <div class="price">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim aspernatur dolorem fuga quaerat laborum odio provident qui non suscipit voluptatum! Itaque nesciunt consequatur nam nemo voluptatibus necessitatibus voluptas! Neque, pariatur.</div>
                <div class="total">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, laudantium! Commodi, animi amet consectetur quisquam porro excepturi cum sequi consequatur, nam esse ullam eius eveniet consequuntur doloribus illo necessitatibus fuga!</div>
            </div>
            <hr>
            <div class="bill-1">
                <div style="width: 50%;">
                    <p>Total Qty : </p>
                </div>
                <div style="width: 25%;">
                    <p>Sub Total</p>
                </div>
                <div style="width: 25%;">
                    <p></p>
                </div>
            </div>
           <hr>
            <div class="GT">
                <h2>Grand Total</h2>
            </div>
          <hr>
        </section>

        <section class="sec-3"></section>
    </main>
</body>
</html> 