<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/kbtcafe.css">
</head>
<body>
    <%- include("includes/navbar") %>
    <section class="section menu" id="menu">
        <div class="container">


          <h2 class="headline-1 section-title text-center">Delicious Menu</h2>

          <ul class="grid-list">

            <div class="menuset">
              <li>
                <div class="menu-card">
  
                  <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                    <img src="/images/tea-removebg-preview.png" width="100" height="100" loading="lazy" alt="Tea"
                      class="img-cover">
                      <h3 class="title-3 text-center">
                        <a href="#" class="card-title">Tea</a>
                      </h3>
                  </figure>
  
                  <div class="menu-sep">
  
                    <div class="title-wrapper">
                      
  
                      <span class="span title-2">Rs 10.00</span>
                    </div>
  
                    <p class="card-text label-1">
                      "Tea is the magic key to the vault where my brain is kept."
                    </p>
                    <form action="/kbt/1/itm" method="get" id="addcart">
                      <button class="menu-order" type="submit">Add to Cart</button>
                    </form>
                    
                  </div>
  
                </div>
              </li>
  
              <li>
                <div class="menu-card ">
  
                  <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                    <img src="/images/co.png" width="100" height="100" loading="lazy" alt="Lasagne"
                      class="img-cover">
                      <h3 class="title-3 text-center">
                        <a href="#" class="card-title">Coffee</a>
                      </h3>
                  </figure>
  
                  <div class="menu-sep">
  
                    <div class="title-wrapper">
                     
  
                      <span class="span title-2">Rs 20.00</span>
                    </div>
  
                    <p class="card-text label-1">
                      "Behind every successful person is a substantial amount of coffee."
                    </p>
                    
                    <form action="/kbt/2/itm" method="get" id="addcart">
                      <button type="submit" class="menu-order">Add to Cart</button>
                    </form>
                  </div>
                  
  
                </div>
              </li>

              
            </div>
            <div class="menuset">
              <li>
                <div class="menu-card ">
  
                  <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                    <img src="/images/maggi-removebg-preview.png" width="100" height="100" loading="lazy" alt="Butternut Pumpkin"
                      class="img-cover">
                      <h3 class="title-3 text-center">
                        <a href="#" class="card-title">Maggi</a>
                      </h3>
                  </figure>
  
                  <div class="menu-sep">
  
                    <div class="title-wrapper">
                      
  
                      <span class="span title-2">Rs 25.00</span>
                    </div>
  
                    <p class="card-text label-1">
                      "Maggi – because good things come in two minutes Maggi."
                    </p>
                    <form action="/kbt/3/itm" method="get" id="addcart">
                      <button class="menu-order" type="submit">Add to Cart</button>
                    </form>
                  </div>
  
                </div>
              </li>

              <li>
                <div class="menu-card hover:card">

                  <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                    <img src="/images/french-fry-removebg-preview.png" width="100" height="100" loading="lazy" alt="Olivas Rellenas"
                      class="img-cover">
                      <h3 class="title-3 text-center">
                        <a href="#" class="card-title">Fries</a>
                      </h3>
                  </figure>

                  <div class="menu-sep">

                    <div class="title-wrapper">
                     

                      <span class="span title-2">Rs 50.00</span>
                    </div>

                    <p class="card-text label-1">
                      "Fries are crispy bites of happiness that make every moment better."
                    </p>
                    <form action="/kbt/4/itm" method="get" id="addcart">
                      <button class="menu-order" type="submit">Add to Cart</button>
                    </form>
                  </div>

                </div>
              </li>
            </div>
          
            
            <div class="menuset"> 
            
             
              <li>
                <div class="menu-card hover:card">

                  <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                    <img src="/images/vp.png" width="100" height="100" loading="lazy" alt="Olivas Rellenas"
                      class="img-cover">
                      <h3 class="title-3 text-center">
                        <a href="#" class="card-title">Vada Pav</a>
                      </h3>
                  </figure>

                  <div class="menu-sep">

                    <div class="title-wrapper">
                     

                      <span class="span title-2">Rs 20.00</span>
                    </div>

                    <p class="card-text label-1">
                      "Spicy, crispy, and oh-so-satisfying — that’s Vada Pav for you!"
                    </p>
                    <form action="/kbt/5/itm" method="get" id="addcart">
                      <button class="menu-order" type="submit">Add to Cart</button>
                    </form>

                  </div>

                </div>
              </li>

              <li>
                <div class="menu-card hover:card">

                  <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                    <img src="/images/bun.png" width="100" height="100" loading="lazy" alt="Opu Fish"
                      class="img-cover">
                      <h3 class="title-3 text-center">
                        <a href="#" class="card-title">Bun Maska</a>
                      </h3>
                  </figure>

                  <div class="menu-sep">

                    <div class="title-wrapper">
                      

                      <span class="span title-2">Rs 49.00</span>
                    </div>

                    <p class="card-text label-1">
                      "Bun Maska — spreading happiness, one bite at a time."
                    </p>
                    <form action="/kbt/6/itm" method="get" id="addcart">
                      <button class="menu-order" type="submit">Add to Cart</button>
                    </form>
                  </div>

                </div>
              </li>
            </div>
          </ul>

          <a href="#" class="btn btn-primary text-center">
            <span class="text text-1">View All Menu</span>
          </a>
        </div>
      </section>
    <script src="/js/kbtcafe.js"></script>
</body>
</html>